body {
    opacity:0;
    transition:opacity .5s;
}

.realisations {
    background-color: #21004D;
    padding-top: 120px;
}

.realisations__wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
    padding-top: 164px;
}

.realisations__title {
    color: #57FFA0;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
}

.card {
    width: 816px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: #EBDBFF;
}

.card__title {
    color: #370080;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-left: 62px;
    margin-top: 32px;
    margin-bottom: 6px;
}

.picture__wrapper {
    margin-left: auto;
    margin-right: auto;
}

.tech {
    color: #21004D;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 1.6px;
    margin-left: 62px;
    margin-top: 16px;
}

.picture {
    width:691px;
}

.card__text__wrapper {
    width:680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.card__text {
    color: #21004D;
}

.images__wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 24px;
}

.backoffice {
    width: 125px
}